{% load static %}
<html>
<head>
      <title>About Us</title>
		 <meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
		 <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
		 		 <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		 <script src="https://kit.fontawesome.com/e30a91579f.js" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		 <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
  <section id="top">
      <a><img src="{% static 'img/logo.png' %}" id="logo"></img></a>
	  <h1>ABOUT US</h1>
	  <p>At Entwik.com, we believe that every app developer has the right to get his app published and grow to a huge level.
	  We aim to remove any financial or technical barriers that may prevent any developer from launching and market their own app. 
	  We plan to help thousands of young and budding application developers worldwide to publish, promote and market their app.
      We at EntWik.com are dedicated to provide your app the online presence it deserves.</p>
  </section>
  <section id="qs" class="clearfix">
      
	  <h2>How to increase downloads of your apps?</h2>
	  <h1><i class="fa fa-line-chart"></i></h1>
	  <p>Every developer has an ardent desire of tasting the success of his app watching it break the internet. 
	  But that not only needs determination but also motivated customer of your app and that follows as a consequence of good reviews and 
	  Bright ratings on the play store. We at Entwik work on just the right thing of bringing traffic on your app for free, encouraging reviews via 
	  social media marketing and all other facets of publicity viable in this Information age.</p>
	  
	  
	  <h2>How to publish android app on play store and other platforms?</h2>
	  <h1><i class="fa fa-bullhorn"></i></h1>
	  <p>if you have enoguh cash kept in your belly then you can pay $25 to Google play store for opening an account on Google Console for developers, 
	  But still Google doesn't stop haunting you with the fear of blocking your console account. 
	  But Lo! Here you landed on a website which has been created to not only upload your app but also give it a boost of publicity
	  and marketing so that it reaches your dream of millions of downloads. Note that we do it all for free.</p>
	  
	  
	  <h2>Investment for app based start-up?</h2>
	  <h1><i class="fa fa-coins"></i></h1>
	  <p>Any idea with all its brilliance needs some monetary support to grow and turn into a success, we have the best examples in Tiktok and Tinder . 
	  Thus in order to save you from the perils of finding an investor Entwik lends a helping hand by providing initial angel investment of upto $500 
	  and promises for even better investments once your app begins to show signs of success.</p>
	  
	  
	  <h2>Eradicating Bugs from your app?</h2>
	  <h1><i class="fa fa-code"></i></h1>
	  <p>Bugs can plague your app to the extent of bringing a rocking app to standstill. Shove away your worries with Entwik.com. 
	  We have a professional team of debuggers who are busy hustling testing your apps day in and out so that any issue can be fixed 
	  and you can live bug-free.  </p>
	  
  </section>
  <footer>
			 <div class="copyright">
			     <p>&copy;2019 EntWik. All rights reserved.</p>
			 </div>
		 </footer>
</body>